@model Business.Interop.Data.NutritionDto

@{ ViewData["Title"] = "Приём пищи"; }

<p><a style="font-size: 25px;" asp-controller="Nutrition" asp-action="Index">Назад</a></p>
<br />

<h2>Приём пищи</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" value="@(Model is null ? 0 : Model.Id)" name="Id" />

            <div class="form-group">
                <label asp-for="Time" class="control-label">Время</label>

                <input asp-for="Time" class="form-control" maxlength="100" />

                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Proteins" class="control-label">Белки, г</label>

                <input asp-for="Proteins" class="form-control" maxlength="100" type="number" step="any" />

                <span asp-validation-for="Proteins" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fats" class="control-label">Жиры, г</label>

                <input asp-for="Fats" class="form-control" maxlength="100" type="number" step="any" />

                <span asp-validation-for="Fats" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Carbohydrates" class="control-label">Углеводы, г</label>

                <input asp-for="Carbohydrates" class="form-control" maxlength="100" type="number" step="any" />

                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Calories" class="control-label">Калории</label>

                <input asp-for="Calories" class="form-control" maxlength="100" type="number" step="any" />

                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label">Пользователь</label>

                <select asp-antiforgery="true" data-live-search="true" autocomplete="true" asp-for="UserId" class="form-control" asp-items="ViewBag.UserIds">
                    <option selected="selected" value=""></option>
                </select>

                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}