@{
    ViewData["Title"] = "Главная";
}

<div>
    <p><a style="font-size: 25px;" asp-controller="User" asp-action="Index">Пользователи</a></p>
    <p><a style="font-size: 25px;" asp-controller="Nutrition" asp-action="Index">Расписание питания</a></p>
    <p><a style="font-size: 25px;" asp-controller="Sleep" asp-action="Index">Расписание сна</a></p>
    <p><a style="font-size: 25px;" asp-controller="Training" asp-action="Index">Расписание тренировок</a></p>
    <p><a style="font-size: 25px;" asp-controller="Exercise" asp-action="Index">Виды упражнений</a></p>
    <p><a style="font-size: 25px;" asp-controller="TrainingExercise" asp-action="Index">Тренировочные сеты</a></p>
</div>

